.questions{
    display: grid;
    grid-template-columns: auto auto ;
    gap:10px;
}
.item{
    background-color: rgb(24, 91, 122);
    padding:20px;
    border-radius: 6px;
    color:white;
    transition: .3s;
    cursor: pointer;
}
.item:hover{
    background-color: rgb(255, 115, 0);
    transition: .3s;
}

.footer{
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
}
.progress{
    width: 80%;
    border-radius: 18px !important;
    border:1px solid rgb(196, 193, 193);
    background-color: rgb(211, 206, 206);
    color:white;
    height: 20px;
    margin-top: -10px;
}
.progressA{
    border-radius: 18px !important;
    text-align: center;
    height: 19px;
    font-size: 12px;
}

/* /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .questions{
        grid-template-columns: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .questions{
        grid-template-columns: auto ;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .questions{
        grid-template-columns: auto auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .items{
        grid-template-areas:'item item item';
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .items{
        grid-template-areas:'item item item';
    }
}