:root {
    --font_gray: #2C2C2C;
    --border:rgb(79, 145, 73);
    }

    *{
        margin: 0;
        padding: 0;
    }
    
    :root {
        --font_gray: #2C2C2C;
        --border:rgb(79, 145, 73);
        --worksItem:rgb(167 142 19);
        --lightColor:#777575;
        --buttonColor:rgb(31, 201, 53);
        --whiteColor:white;
        }
        
    .header{
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .banner_img{
        max-height: auto;
        width: 100%;
        min-height: 200px;
        transform: scale(1.2);
        opacity: .7;
        z-index: -1;
    }
    
    .navbar-brand img{
        height: auto;
        width: 74%;
    }
    .login{
        font-weight: 700;
        font-size:21px;
        color:green;
        padding:6px;
        text-decoration: none;
    }
    .signUp{
        font-weight: 700;
        color:green;
        font-size:21px;
        padding:6px;
        text-decoration: none;
    }
    /* .loginClass{} */
    .list-group-item{
        border:none;
    }
    .navbarDropDown{
        border:none !important;
    }
    .dropdown{
        margin-left:0 !important;
        padding-left:0 !important;
    }
  
    .dropdown-menu{
        --bs-dropdown-border-color: none;
        padding:0;
        margin:0;
    }
    .nav-item{
        margin-bottom: 10px;
        padding:6px;
        font-weight: 600;
        border-radius: 4px;
        transition: 0.4s;
    }
    .nav-item a{
        /* color:white; */
        text-decoration: none;
        transition: 0.4s;
    }
    .nav-item:hover{
        transition: 0.4s;
    }
    .nav-item:hover.nav-item a{
        color:rgb(26, 8, 131) !important;
        transition: 0.4s;
    }
    
    .banner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .banner a{
        text-decoration: none;
        background-color: rgb(31, 201, 53);
        padding:4px 10px 4px 10px;
        color:rgb(255, 253, 253);
        font-weight: 400;
        border-radius: 4px;
    }
    
    .banner form{
        display: flex;
        border-radius: 10px !important;
        margin-top: 10%;
    }
    .banner form input{
        width: 60vw;
        min-height: 5vw;
        padding:4px;
        font-size: 17px;
        color:rgb(100, 99, 97);
        outline: none;
        border: none;
    }
    .banner form button{
        border:none;
        outline: none;
        padding:0 14px 0 14px;
        text-align: center;
        background-color: rgb(31, 201, 53);
        color:white
    }
    .material-symbols-outlined{
        transform: translateX(10%) translateY(18%);
    }
    
    .content{
        text-align: center;
    }
    .content a,.contents a{
        color:var(--border);
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        transition: 0.4s;
    }
    .content a{
        color:white;
    }
    .content h4,.contents h4{
        color:var(--font_gray);
        margin-top: 22px;
    }
    .content a:hover,.contents a:hover{
        color:black;
        transition: 0.4s;
    }
    .courses{
        color: black;
        margin-top: 30px;
        width: 100%;
        text-align: center;
        z-index: 1;
    }
    .courses h1{
        font-size: 50px;
        font-weight: 700;
    }
    .courses h3{
        margin-top:16px;
        font-size: 18px !important;
    }
    .c{
        border: 2px solid var(--border);
        width: 60%;
        align-items: center;
        margin: 0 auto;
    } 
    
    /* worksWith */
    
    .worksWithspan{
        font-size: 16px;
        /* font-size: 76px; */
        padding: 28px; 
        background-color: rgb(56, 49, 39);
        color: white;
        border-radius: 7px;
    }
    /* Course Details */
    .courseDetails{
        margin-top: 30px;
    }
    .courseDetails h3{
        color:var(--font_gray);
    }
    .couresDetailsInto p{
        color: var(--lightColor);
    }
    .allCourse{
        text-decoration: none;
        padding: 6px 10px 6px 10px;
        outline: none;
        /* border:2px solid black; */
        margin-top: 5px;
        font-weight: 600;
        border:none;
        background-color: rgb(255, 145, 0);
        color:white;
        border-radius: 4px;
        transition: .3s all;
    }
    .allCourse:hover{
        background-color: var(--buttonColor);
        color: var(--whiteColor);
        border:none;
        transition: .3s all;
    }
    /* courseItems */
    .slick-slide {
        margin-left:27px;
      }
    
      /* the parent */
      .slick-list {
        margin-left:-27px;
      }
    .courseItems{
        display: flex;
        flex-direction: column;
        padding:10px;
        gap:50px;
        text-align: left;
        box-shadow: 3px 3px 3px 3px rgba(90, 90, 156, 0.2);
        border-radius: 6px;
        border:none;
    }
    /* Time */
    .time{
        margin-top: 4px;
        border-top:2px solid var(--border);
    }
    .time span{
        font-size: 24px;
    }
    /* get in touch */
    .contact{
        background-image: url(../images/newsletter-parallax.png);
        background-attachment: fixed;
        background-size: cover;
    }
    .form{
        margin-bottom: 4%;
        margin-top: 20px;

    }
    .form input{
        width: 60vw;
        min-height: 5vw;
        padding:4px;
        font-size: 17px;
        color:rgb(100, 99, 97);
        outline: none;
        border: 1px solid var(--buttonColor);
    }
    .form button{
        border:none;
        outline: none;
        padding:0 14px 0 14px;
        text-align: center;
        background-color: rgb(31, 201, 53);
        color:white
    }
    
    /* Shadow */
    #navbar{
        background-color: transparent;
        transition: 0.6s;
    }
    .floatingNav {
        border-radius: 2px;
        background-color: rgb(233, 228, 228);
        box-shadow: 1px 1px #d1cece;
        transition: 0.6s;
    }
    .footer{
        background-color: #F5E9D4;
    }
    
    .footerAlign{
        padding:35px 0px 35px 0px; 
        gap:20px;
        text-align: justify;
    }
    .footerAlign h4{
        color:rgb(41, 41, 41);
        font-weight: 400;
    }
    .footerAlign p{
        color:rgb(99, 98, 98);
        font-weight: 200;
    }
    .buttonBorder{
        border:2px solid rgb(39, 39, 39);
        text-decoration: none;
        outline:none;
        padding:4px 8px;
        color:#3b3b3b;
        transition: 0.4s;
        font-weight: 600;
        font-size: 14px;
    }
    .buttonBorder:hover{
        background-color: #838C48;
        color:white;
        transition: 0.4s;
    }

    
      
    
    @media only screen and (max-width: 420px) {
        .content{
            display: none;
        }
        /* .contact{
            padding-bottom: 60px;
        } */
    }
    @media only screen and (min-width: 421px) and (max-width:599px) {
        .signInUp{
            display: none;
        }
        .banner form{
            margin-top: -7%;
        }
        .content{
            text-align: center;
        }
        .content a{
            color: white;
            font-size: 14px;
        }
        .content h4{
            color:var(--font_gray);
            margin-top: 10px;
        }
        .banner form input{
            width: 48vw;
            padding:0 13px 0 13px;
            min-height: 7vw;
        }
        .contents{
            display: none;
        }
    }
    /* Extra small devices (phones, 600px and down) */
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) and (max-width:767px) {
        .signInUp{
            display: none;
        }
        .banner form input{
            width: 48vw;
            padding:0 13px 0 13px;
            min-height: 6vw;
        }
        .banner form{
            margin-top: -8%;
        }
        .content{
            text-align: center;
        }
        .content a{
            color: white;
            font-size: 18px;
            margin-top: 45px;
        }
        .content h4{
            color:var(--font_gray);
            margin-top: 20px;
        }
        .contents{
            display: none;
        }
    
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .signInUp{
            display: none;
        }
        .contents{
            display: none
        }
        .banner form{
            margin-top: -12%;
            margin-bottom: 6%;
        }
        .banner form input{
            width: 45vw;
        }
        .content{
            margin-top:-22px;
        }
        .content h4{
            font-size: 24px;
            margin-bottom:20px;
        }
        .courses{
            margin-top: -14%;
            position:absolute;
        }
        
        .navbar-brand img{
            width: 84%;
        }
        
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .signInUp{
            display: none;
        }
        .content h4{
            font-size: 30px;
            margin-bottom: 30px;
        }
        .content a{
            padding:10px 20px 10px 20px
        }
        .courseDetails{
            margin-top: 100px;
            text-align: center;
            justify-content: space-between;
        }
        .navbar-brand img{
            width: 100%;
        }
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .signInUp{
            display: none;
        }
        .banner form input{
            width: 48vw;
            padding:0 13px 0 13px;
            min-height: 4vw;
        }
        .content h4{
            font-size: 30px;
            margin-bottom: 30px;
        }
    
        .content a{
            padding:13px 22px 13px 22px
        }
        .navbar-brand img{
            width: 100%;
        }
        
    }

    @media only screen and (max-width: 420px) {
        .content{
            display: none;
        }
    }
    @media only screen and (min-width: 421px) and (max-width:599px) {
        .signInUp{
            display: none;
        }
        .banner form{
            margin-top: -7%;
        }
        .content{
            text-align: center;
        }
        .content a{
            color: white;
            font-size: 14px;
        }
        .content h4{
            color:var(--font_gray);
            margin-top: 10px;
        }
        .banner form input{
            width: 48vw;
            padding:0 13px 0 13px;
            min-height: 7vw;
        }
        .contents{
            display: none;
        }
    }
    /* Extra small devices (phones, 600px and down) */
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) and (max-width:767px) {
        .signInUp{
            display: none;
        }
        .banner form input{
            width: 48vw;
            padding:0 13px 0 13px;
            min-height: 6vw;
        }
        .banner form{
            margin-top: -8%;
        }
        .content{
            text-align: center;
        }
        .content a{
            color: white;
            font-size: 18px;
            margin-top: 45px;
        }
        .content h4{
            color:var(--font_gray);
            margin-top: 20px;
        }
        .contents{
            display: none;
        }
    
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .signInUp{
            display: none;
        }
        .contents{
            display: none
        }
        .banner form{
            margin-top: -12%;
            margin-bottom: 6%;
        }
        .banner form input{
            width: 45vw;
        }
        .content{
            margin-top:-22px;
        }
        .content h4{
            font-size: 24px;
            margin-bottom:20px;
        }
        .courses{
            margin-top: -14%;
            position:absolute;
        }
        .majorChoiceItems{
            display: flex;
            flex-direction: row;
            /* gap:17px; */
            justify-content:space-between;
        }
        .majorChoice span{
            font-size: 58px;
            text-align: center
        }
        .majorChoice{
            height: 180px;
        }
        .navbar-brand img{
            width: 84%;
        }
        
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .signInUp{
            display: none;
        }
        .content h4{
            font-size: 30px;
            margin-bottom: 30px;
        }
        .content a{
            padding:10px 20px 10px 20px
        }
        .courseDetails{
            margin-top: 100px;
            text-align: center;
            justify-content: space-between;
        }
        .navbar-brand img{
            width: 100%;
        }
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .signInUp{
            display: none;
        }
        .banner form input{
            width: 48vw;
            padding:0 13px 0 13px;
            min-height: 4vw;
        }
        .content h4{
            font-size: 30px;
            margin-bottom: 30px;
        }
    
        .content a{
            padding:13px 22px 13px 22px
        }
        .navbar-brand img{
            width: 100%;
        }
        
    }
    .worksWithIcon{
        font-size: 145px;
        color: #da7823;
        padding: 40px;
        border-radius: 75px;
        transition: 0.4s;
        background-color: #f1d5bc;
    }
    .worksWithIcon:hover{
        transition: 0.4s;
        color: white;
        background-color: #DA853D;
    }
    .bsClock{
        margin-top:10px;
        font-size: 20px;
    }